services:
  init-content:
    image: busybox
    command:  |  # Utilisation de "|" ou ">- = ramène le tout sur une seule ligne" pour écrire une commande multi-ligne plus lisible
      sh -c "
      echo '<h1>Hello depuis Docker 420!</h1>' > /dossier-commun/index.html &&
      echo 'Build: '$(date) >> /dossier-commun/index.html &&
      echo 'ServerName exemple.420' >> /config/httpd.conf
      "
    volumes:
      - web-content:/dossier-commun
      - web-config:/config

  httpd:
    image: httpd:2.4
    ports:
      - "80:80"
    volumes:
      - web-content:/usr/local/apache2/htdocs
      - web-config:/usr/local/apache2/conf
    depends_on:
      init-content:
        condition: service_completed_successfully

volumes:
  web-content:
    name: contenu-web
  web-config:
    name: config-httpd  
