# Note: db-1 -  FATAL:  role "postgres" does not exist
# Solution, effacer le volume précédent et recréer le conteneur
# docker-compose down -v

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}       # admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD} # password
    ports:
      - "8080:80"
    depends_on:
      db:
        condition: service_healthy

#  adminer:
#    image: adminer
#    restart: always
#    ports:
#      - 88:8080
#    depends_on:
#      db:
#        condition: service_healthy


# Création d'un volume interne à Docker pour stocker les données de la base de données
volumes:
  db-data: